body{
    background: rgb(236, 236, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 5px solid grey;
    border-right: none;
    padding: 5px;
    height: 18px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: darkgrey;
}

.searchTerm:focus {
    color: red;
}

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttons {
    position: absolute;
    top: 65%;
    left: 36%;
}
.buttonSearch {
    display: inline-block;
    border-radius: 2px;
    background-color: #9c9c9c;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    padding: 2px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonSearch span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonSearch span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonSearch:hover span {
    padding-right: 25px;
  }
  
  .buttonSearch:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }